**复习：**在前面我们已经学习了Pandas基础，第二章我们开始进入数据分析的业务部分，在第二章第一节的内容中，我们学习了**数据的清洗**，这一部分十分重要，只有数据变得相对干净，我们之后对数据的分析才可以更有力。而这一节，我们要做的是数据重构，数据重构依旧属于数据理解（准备）的范围。

#### 开始之前，导入numpy、pandas包和数据

In [2]:
# 导入基本库
import numpy as np
import pandas as pd

In [4]:
# 载入上一个任务人保存的文件中:result.csv，并查看这个文件
data=pd.read_csv("result.csv")
data.head()

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

# 2 第二章：数据重构

## 第一部分：数据聚合与运算

### 2.6 数据运用

#### 2.6.1 任务一：通过教材《Python for Data Analysis》P303、Google or anything来学习了解GroupBy机制

In [5]:
#写入心得
#GroupBy的主要功能就是DataFrame按照某个字段分成多个子DataFrame

#### 2.4.2：任务二：计算泰坦尼克号男性与女性的平均票价

In [8]:
# 写入代码
fare=data.groupby('Sex').agg({'Fare':'mean'})
fare

             Fare
Sex
female  44.479818
male    25.523893

在了解GroupBy机制之后，运用这个机制完成一系列的操作，来达到我们的目的。

下面通过几个任务来熟悉GroupBy机制。

#### 2.4.3：任务三：统计泰坦尼克号中男女的存活人数

In [24]:
# 写入代码
sex_survive=data.groupby("Sex")['Survived'].sum()
sex_survive

Sex
female    233
male      109
Name: Survived, dtype: int64

#### 2.4.4：任务四：计算客舱不同等级的存活人数

In [19]:
# 写入代码
Pc_sur=data.groupby("Pclass")['Survived'].sum()
Pc_sur

Pclass
1    136
2     87
3    119
Name: Survived, dtype: int64

【**提示：**】表中的存活那一栏，可以发现如果还活着记为1，死亡记为0

【**思考**】从数据分析的角度，上面的统计结果可以得出那些结论

In [9]:
#思考心得 
#泰坦尼克事件中女性存活的概率比男性较高，1级客舱的存活人数相比其他客舱要多

【思考】从任务二到任务三中，这些运算可以通过agg()函数来同时计算。并且可以使用rename函数修改列名。你可以按照提示写出这个过程吗？

In [25]:
#思考心得
data.groupby("Sex").agg({'Fare':'mean',
                         'Survived':'sum',"Pclass":'count'}).rename(columns={'Fare':'mean_Fare',
                                                                        'Survived':'Sur_count',
                                                                       "Pclass":'Pc_count'})

        mean_Fare  Sur_count  Pc_count
Sex
female  44.479818        233       314
male    25.523893        109       577

#### 2.4.5：任务五：统计在不同等级的票中的不同年龄的船票花费的平均值

In [30]:
# 写入代码
result=data.groupby(['Pclass',"Age"])["Fare"].mean()
result.head(10)

Pclass  Age
1       0.92     151.550000
        2.00     151.550000
        4.00      81.858300
        11.00    120.000000
        14.00    120.000000
        15.00    211.337500
        16.00     61.293067
        17.00     92.261100
        18.00    169.612500
        19.00     92.692500
Name: Fare, dtype: float64

#### 2.4.6：任务六：将任务二和任务三的数据合并，并保存到sex_fare_survived.csv

In [33]:
# 写入代码
sex_fare=pd.merge(sex_survive,fare,on='Sex')
sex_fare.to_csv('sex_fare_survived.csv')
sex_fare

        Survived       Fare
Sex
female       233  44.479818
male         109  25.523893

#### 2.4.7：任务七：得出不同年龄的总的存活人数，然后找出存活人数最多的年龄段，最后计算存活人数最高的存活率（存活人数/总人数）

In [48]:
# 写入代码
data["AgeBox"]=pd.cut(data['Age'],[0,5,15,30,45,60,80],labels=[1,2,3,4,5,6])
age_sur=data.groupby('AgeBox').agg({'Survived':'sum'})
age_sur

        Survived
AgeBox
1             31
2             18
3            117
4             86
5             33
6              5

In [50]:
# 写入代码
sur_percent=age_sur.max()/data["Survived"].sum()
sur_percent

Survived    0.342105
dtype: float64

In [2]:
# 写入代码

In [2]:
# 写入代码